db/
/projecto_failai/vendor/
.idea/
/shell_scripts/valyti_db.sh
/shell_scripts/reset_mysql.sh
/sql_failai/mysql-backup-2023-01-11.sql
/sql_failai/create_schemas.sql
/shell_scripts/create_DB_backup.sh
/sql_failai/add_data.sql
